@{
    ViewData["Title"] = "Home Page";
}

<script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        plugins: "code,link,paste,preview,spellchecker,wordcount",

        // remove id, class, style attributes

        // Theme options - button# indicated the row# only
        paste_auto_cleanup_on_paste: true,
        paste_remove_styles: true,
        paste_remove_styles_if_webkit: true,
        paste_strip_class_attributes: "all",

        forced_root_block: true,
        force_br_newlines: true,
        force_p_newlines: false,
        convert_fonts_to_spans: true,
        //invalid_elements: "span,[*]",
        //extended_valid_elements: "span[!class]"
        inline_styles: false,
        menubar: "view | tools",
        toolbar: "styleselect | link",
        style_formats: [
            {
                title: 'Inline', items: [
                    { title: 'Bold', icon: 'bold', format: 'bold' },
                    { title: 'Italic', icon: 'italic', format: 'italic' },
                    { title: 'Underline', icon: 'underline', format: 'underline' },
                    { title: 'Strikethrough', icon: 'strikethrough', format: 'strikethrough' },
                    { title: 'Superscript', icon: 'superscript', format: 'superscript' },
                    { title: 'Subscript', icon: 'subscript', format: 'subscript' }
                ]
            },
            {
                title: 'Alignment', items: [
                    { title: 'Left', icon: 'alignleft', format: 'alignleft' },
                    { title: 'Center', icon: 'aligncenter', format: 'aligncenter' },
                    { title: 'Right', icon: 'alignright', format: 'alignright' },
                    { title: 'Justify', icon: 'alignjustify', format: 'alignjustify' }
                ]
            },
        ],
        valid_styles: {
            '*': '' // Global invalid styles
        },
        valid_classes: {
            '*': '' // Global invalid styles
        },
        valid_elements: '*,*[src|href|target|width|height]',
        paste_preprocess: function (pl, o) {
            // Content string containing the HTML from the clipboard
            alert(o.content);
            o.content = "-: CLEANED :-\n" + o.content;
        },
        paste_postprocess: function (pl, o) {
            // Content DOM node containing the DOM structure of the clipboard
            alert(o.node.innerHTML);
            o.node.innerHTML = o.node.innerHTML + "\n-: CLEANED :-";
        }
    });
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <form method="post" action="/Home/Results">
        <textarea name="text">
        <p><img src="https://tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" /></p>
        <p>Hello, World!</p>
      </textarea>
        <input type="submit" />
    </form>

</div>
